body {
    max-width: 1024px;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: grey;
    background-image: url(/Word-Guess-Game/images/background.jpg);
    background-size: 100%;
    margin: 0 auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.65);
}

p {
    color: #bbbbbb;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.audio {
    margin-top:20px;
}

#song {
    width: 60%;

}

.header {
    margin-bottom: 0;
    font-family: 'IM Fell English', serif;
}

h1 {
    font-size: 60pt;
    color: #cfcfcf;
    margin-bottom: 0px;
}

h3 {
    font-size: 25pt;    
    color: #a3a3a3;

}


.parent {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.innerOverlay {
    position: relative;
    z-index: 3;
    width: 100%;
}

h5 {
    margin-top: 10px;
    color: #c2c2c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6 {
    color: #c2c2c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.mainDisplay {    
    background:transparent;
    max-width: 90%;
    padding-top: 0px;
}

.activeWords {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    color: #c2c2c2;
}

#pictureDisplay {
    max-height: 450px;
}

#revealedAnswerDisplay {
    color: red;
}

#guessesMadeDisplay {
    font-size: 0.8em;
}

.correct {
    color: green;
    font-weight: bold;
}

/*
These rules take effect when the browser's width
is either 768px or less. Merely for cosmetic purposes.
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {

    /* Hamburger Nav Styling Corrections */
    p.ml-2.text-left.mobileBoard, p.mr-2.text-right.mobileBoard {
        text-align: center !important;
    }

    p.mr-2.text-right.mobileBoard {
        margin-bottom: 10px;
    }

    div.mx-auto.jumbotron.mainDisplay {
        padding: 10px 16px 10px 16px !important;
    }
    
    h5 {
        font-size: 0.75em;
    }

    .header {
        margin-bottom: 20px;
    }

    .activeWords, h5 {
        font-size: 12px;
    }
}